<h1>Training List</h1>
<div class="tablecontent">
  <%= link_to raw('<span class="glyphicon  glyphicon-plus" ></span> New'),  new_training_path, class: "btn btn-sm btn-info btn-lg" %>
  </br><br>
<table id="datatable" class="table table-hover table-bordered">
  <thead>
    <th>Actions</th>
    <th>id</th>
    <th>Instructor id</th>
    <th>Vehicle id</th>
    <th>Student id</th>
    <th>Training Time</th>
    <th>Duration</th>
    <th>Mark</th>
    <th>Pertol usage</th>
  </thead>
  <tbody>
  <% @trainings.each do |training|%>
      <tr>
        <td width="12%">
          <%= link_to raw('<span class="glyphicon glyphicon-edit" ></span> Edit'), edit_training_path(training) %>
          <%= link_to raw('<span class="glyphicon glyphicon-remove" ></span> Delete'), training, method: :delete %>
        </td>
        <td><%= training.id %></td>
        <td><%= link_to training.instructor_id, instructor_path(training.instructor_id) %></td>
        <td><%= link_to training.vehicle_id, vehicle_path(training.vehicle_id) %></td>
        <td><%= link_to training.student_id, student_path(training.student_id) %></td>
        <td><%= training.training_time %></td>
        <td><%= training.duration %></td>
        <td><%= training.mark %></td>
        <td><%= training.petrol_usage %></td>
      </tr>
  <% end %>
  </tbody>

</table>

  </div>
