<div class="content">
  <%= form_for(@student) do |f| %>
      <% if @student.errors.any? %>
          <div id="error_explanation">
            <h2><%= pluralize(@student.errors.count, "error") %> prohibited this group from being saved:</h2>

            <ul>
              <% @student.errors.full_messages.each do |message| %>
                  <li><%= message %></li>
              <% end %>
            </ul>
          </div>
      <% end %>
      <div class="form-group">
        <label>group_id:</label>
        <%= f.collection_select :group_id, Group.all,:id,:id, include_blank: true %>
      </div>
      <div class="form-group">
        <label>lastname:</label>
        <%= f.text_field :lastname, class: 'form-control' %>
      </div>

      <div class="form-group">
        <label>firstname:</label>
        <%= f.text_field :firstname, class: 'form-control' %>
      </div>

      <div class="form-group">
        <label>fathersname:</label>
        <%= f.text_field :fathersname, class: 'form-control' %>
      </div>
      <div class="form-group">
        <label>born:</label>
        <%= f.date_select :born, default: Date.today.years_ago(17), start_year: Date.today.year - 100, end_year: Date.today.year - 16, class: 'form-control' %>
      </div>

      <div class="form-group">
        <label>reg_date:(MAYBE USER SHOULDN'T SET IT)</label>
        <%= f.date_select :reg_date, class: 'form-control' %>
      </div>

      <div class="form-group">
        <label>phone:</label>
        <%= f.text_field :phone, class: 'form-control', placeholder: '097XXXXXXX' %>
      </div>

      <div class="form-group">
        <label>category:</label>
        <%= f.collection_select :category, Vehicle::CATEGORIES, :to_s, :to_s,
                                include_blank: false
        %>
      </div>




        <%= f.submit class: "btn btn-primary" %>

  <% end %>
</div>


