<div class="content">
  <%= form_for(@instructor) do |f| %>
      <% if @instructor.errors.any? %>
          <div id="error_explanation">
            <h2><%= pluralize(@instructor.errors.count, "error") %> prohibited this group from being saved:</h2>

            <ul>
              <% @instructor.errors.full_messages.each do |message| %>
                  <li><%= message %></li>
              <% end %>
            </ul>
          </div>
      <% end %>



      <%= fields_for(@worker) do |f| %>
          <div class="form-group">
            <label>lastname:</label>
            <%= f.text_field :lastname, class: 'form-control' %>
          </div>

          <div class="form-group">
            <label>firstname:</label>
            <%= f.text_field :firstname, class: 'form-control' %>
          </div>

          <div class="form-group">
            <label>patronymic:</label>
            <%= f.text_field :patronymic, class: 'form-control' %>
          </div>

          <div class="form-group">
            <label>phone:</label>
            <%= f.text_field :phone, class: 'form-control', placeholder: '097XXXXXXX' %>
          </div>

          <div class="form-group">
            <label>born:</label>
            <%= f.date_select :born,
                              default: Date.today.years_ago(30),
                              start_year: Date.today.year - 100,
                              end_year: Date.today.year - 16,
                              class: 'form-control' %>
          </div>

      <% end %>

      <div class="form-group">
        <label>licence_expires:</label>
        <%= f.date_select :licence_expires, class: 'form-control' %>
      </div>

      <div class="form-group">
        <label>licence_num:</label>
        <%= f.text_field :licence_num, class: 'form-control' %>
      </div>




      <%= f.submit class: "btn btn-primary" %>

  <% end %>
</div>


