<h1>Instructor List</h1>
<div class="tablecontent">
<%= link_to raw('<span class="glyphicon  glyphicon-plus" ></span> New'),  new_instructor_path, class: "btn btn-sm btn-info btn-lg" %>
<table id="datatable" class="table table-hover table-bordered">
  <thead>
    <th>Actions</th>
    <th>id</th>
    <th>licence expires</th>
    <th>licence num</th>
    <th>lastname</th>
  </thead>
  <tbody>
  <% @instructors.each do |instructor|%>
      <tr>
        <td width="12%">
          <%= link_to raw('<span class="glyphicon glyphicon-edit" ></span> Edit'), edit_instructor_path(instructor) %>
          <%= link_to raw('<span class="glyphicon glyphicon-remove" ></span> Delete'), instructor, method: :delete %>
        </td>
        <td><%= instructor.id %></td>
        <td><%= instructor.licence_expires %></td>
        <td><%= instructor.licence_num %></td>
        <td><%= instructor.worker.lastname%></td>
        </tr>
  <% end %>
  </tbody>
</table>

  <%= link_to "Download as Excel", export_instructors_path(format: "xlsx") %>
</div>
