<h1>Group List</h1>
<div class="tablecontent">
  <%= link_to raw('<span class="glyphicon  glyphicon-plus" ></span> New'), new_group_path, class: "btn btn-sm btn-info btn-lg" %>
  </br><br>
  <table id="datatable" class="table table-hover table-bordered">
    <thead>
    <th>Actions</th>
    <th>id</th>
    <th>Start Time</th>
    </thead>
    <tbody>
    <% @groups.each do |group| %>
        <tr>
          <td width="12%">
            <%= link_to raw('<span class="glyphicon glyphicon-edit" ></span> Edit'), edit_group_path(group) %>
            <%= link_to raw('<span class="glyphicon glyphicon-remove" ></span> Delete'), group, method: :delete %>
          </td>
          <td><%= group.id %></td>
          <td><%= group.starttime %></td>
        </tr>
    <% end %>
    </tbody>

  </table>
</div>
