<h1>Lector List</h1>
<%= link_to 'New', new_lector_path %>
<table class="table table-hover">
  <thead>
    <th>id</th>
    <th>teaches_since</th>
  </thead>
  <tbody>
  <% @lectors.each do |lector|%>
      <tr>
        <td><%= lector.id %></td>
        <td><%= lector.teaches_since %></td>
        <td><%= lector.worker.lastname%></td>
        <td><%= link_to 'Show', lector %></td>
        <td><%= link_to 'Edit', edit_lector_path(lector) %></td>
        <td><%= link_to 'Destroy', lector, method: :delete, data: {confirm: 'Are you sure?'} %></td>
      </tr>
  <% end %>
  </tbody>

</table>

