<p id="notice"><%= notice %></p>

<p>
  <strong>id:</strong>
  <%= @lector.id %>
</p>

<p>
  <strong>lastname:</strong>
  <%= @lector.worker.lastname %>
</p>

<p>
  <strong>firstname:</strong>
  <%= @lector.worker.firstname %>
</p>

<p>
  <strong>id:</strong>
  <%= @lector.worker.patronymic %>
</p>

<p>
  <strong>phone:</strong>
  <%= @lector.worker.born %>
</p>


<p>
  <strong>teaches_since:</strong>
  <%= @lector.teaches_since %>
</p>



<%= link_to 'Edit', edit_lector_path(@lector) %> |
<%= link_to 'Back', lectors_path %>



