<p id="notice"><%= notice %></p>

<p>
  <strong>id:</strong>
  <%= @lector.id %>
</p>


<p>
  <strong>teaches_since:</strong>
  <%= @lector.teaches_since %>
</p>



<%= link_to 'Edit', edit_lector_path(@lector) %> |
<%= link_to 'Back', lectors_path %>



