<div class="content">
  <%= form_for(@lection) do |f| %>
      <% if @lection.errors.any? %>
          <div id="error_explanation">
            <h2><%= pluralize(@lection.errors.count, "error") %> prohibited this group from being saved:</h2>

            <ul>
              <% @lection.errors.full_messages.each do |message| %>
                  <li><%= message %></li>
              <% end %>
            </ul>
          </div>
      <% end %>

      <div class="form-group">
        <label>teaches_since:</label>
        <%= f.date_select :teaches_since, class: 'form-control' %>
      </div>


      <%= f.submit class: "btn btn-primary" %>

  <% end %>
</div>


