<div class="content">
  <%= form_for(@lection) do |f| %>
      <% if @lection.errors.any? %>
          <div id="error_explanation">
            <h2><%= pluralize(@lection.errors.count, "error") %> prohibited this group from being saved:</h2>

            <ul>
              <% @lection.errors.full_messages.each do |message| %>
                  <li><%= message %></li>
              <% end %>
            </ul>
          </div>
      <% end %>



      <div class="form-group">
        <label>lector_id:</label>
        <%= f.collection_select :lector_id, Lector.all,:id,:id, include_blank: true %>
      </div>

      <div class="form-group">
        <label>Group:</label>
        <%= f.collection_select :group_id, Group.all,:id,:id, include_blank: true %>
      </div>

      <div class="form-group">
        <label>Lection Time:</label>
        <%= f.datetime_select :lection_time, class: 'form-control' %>
      </div>

      <div class="form-group">
        <label>Theme:</label>
        <%= f.text_field :theme %>
      </div>


      <%= f.submit class: "btn btn-primary" %>

  <% end %>
</div>


