<h1>Lection List</h1>
<div class="tablecontent">
  <%= link_to raw('<span class="glyphicon  glyphicon-plus" ></span> New'),  new_lection_path, class: "btn btn-sm btn-info btn-lg" %>
  </br><br>
  <table id="datatable" class="table table-hover table-bordered">
    <thead>
    <th>Actions</th>
    <th>id</th>
    <th>lector_id</th>
    <th>group_id</th>
    <th>lection_time</th>
    <th>theme</th>
  </thead>
  <tbody>
  <% @lections.each do |lection|%>
      <tr>
        <td width="12%">
          <%= link_to raw('<span class="glyphicon glyphicon-edit" ></span> Edit'), edit_lection_path(lection) %>
          <%= link_to raw('<span class="glyphicon glyphicon-remove" ></span> Delete'), lection, method: :delete %>
        </td>
        <td><%= lection.id %></td>
        <td><%= link_to lection.lector_id, lector_url(lection.lector_id) %></td>
        <td><%= link_to lection.group_id, group_url(lection.group_id)  %></td>
        <td><%= lection.lection_time %></td>
        <td><%= lection.theme %></td>
        </tr>
  <% end %>
  </tbody>

</table>
</div>
