<h1>Worker List</h1>
<div class="tablecontent">
  <% if can? :create, @worker  %>
  <%= link_to raw('<span class="glyphicon  glyphicon-plus" ></span> New'),  new_worker_path, class: "btn btn-sm btn-info btn-lg" %>
  <% end  %>
      <br><br>
  <table id="datatable" class="table table-hover table-bordered">
    <thead>
    <th>Actions</th>
    <th>id</th>
    <th>lastname</th>
    <th>firstname</th>
    <th>patronymic</th>
    <th>phone</th>
    <th>born</th>
    </thead>
    <tbody>
    <% @workers.each do |worker| %>
        <tr>
          <td width="12%">
            <%= link_to raw('<span class="glyphicon glyphicon-edit" ></span> Edit'), edit_worker_path(worker) %>
            <%= link_to raw('<span class="glyphicon glyphicon-remove" ></span> Delete'), worker, method: :delete %>
          </td>
          <td><%= worker.id %></td>
          <td><%= worker.lastname %></td>
          <td><%= worker.firstname %></td>
          <td><%= worker.patronymic %></td>
          <td><%= worker.phone %></td>
          <td><%= worker.born %></td>
        </tr>
    <% end %>

    </tbody>

  </table>

</div>

