<div class="content">
  <%= form_for(@vehicle) do |f| %>
      <% if @vehicle.errors.any? %>
          <div id="error_explanation">
            <h2><%= pluralize(@vehicle.errors.count, "error") %> prohibited this group from being saved:</h2>

            <ul>
              <% @vehicle.errors.full_messages.each do |message| %>
                  <li><%= message %></li>
              <% end %>
            </ul>
          </div>
      <% end %>
      <div class="form-group">
        <label>vehicle_num:</label>
        <%= f.text_field :vehicle_num, class: 'form-control' %>
      </div>

      <div class="form-group">
        <label>model:</label>
        <%= f.text_field :model, class: 'form-control' %>
      </div>

      <div class="form-group">
        <label>category:</label>
        <%= f.text_field :category, class: 'form-control' %>
      </div>




      <%= f.submit class: "btn btn-primary" %>

  <% end %>
</div>


